
 .container{
    margin: 0px;
    margin-left: 80px;
    margin-right: 80px;
 }

 .nuturing{
     margin: 0px;
     
 }

 .nuturing img{
     float: right;
     width: 300px;
     
     
 }
 .Stories{
     margin: 0px;
     
     
 }
 .Stories img{
     float: left;
     width: 300px;
     
     
 }

 .Board{
     margin: 0px;
     margin-top: 80px;
     height: 300px;
     
 }

 .Board img{
    float: right;
     width: 300px;
     

 }
 .Graduation{
     margin: 0px;
     margin-top: 80px;
 }
 .Graduation img{
     float: left;
     width: 300px;
     
 }